body{
  background-color:#CCCCCC;
}

h1{
  color:#CCCC99;
  text-align:center;
}

a:link{
  color:blue;
  text-decoration:none;
}
a:hover{
  color:gray;
}

#content {
  display: block;
  width: 950px;
  margin: 0 auto;
  
  header{
    text-align:right;
    padding-top: 1em;
  }
  
  /* Show all tags*/
  .tabs {
    padding: 0em;
    margin:0em 0em 0em 3em;
    width: 100%;
    height: 1.77em;
    *height:1.73em;
    
    li {
      background: url(../images/tagleft.gif) no-repeat left bottom;
      list-style-type:none;
      float: left;
      
      a {
        padding: 0em 1em 0em 1em;
        color:#999999;
        background: url(../images/tagright.gif) no-repeat right bottom;
        float: left;
        height:1.7em;
        text-decoration: none;
      }
    }
    
    li.selectTag {
      background-position: left top;
      margin-bottom: -2px;
      position: relative;
      
      a {
        background-position: right top;
        color: #000000;
      }
    }
  }
  
  .tagContent {
    background: url(../images/bg.gif) repeat-x;
    border:#aecbd4 1px solid;
    padding:0em 0em;
    background-color: #fff;
    min-height:650px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 1em;
    width: 53.85em;
    color: #474747;
    min-width: 800px;
    
    > div {
      display: none;
    }
    
    /* DIV seleted was displayed */
    div.selectTag {
      display: block;
    }
    
    /* Message Management DIV */
    .message_container{
      padding-top:1em;
      height: 100%;
      overflow:auto;
      width: 100%;
    }
    .configContainer{
      height: 100%;
      overflow: auto;
    }
    /* IP Management DIV */
    .ip_container{
      margin-top:15px;
      padding-top:10px;
      margin-bottom:20px;
      height:400px;
      overflow:auto;
      width:700px;
      margin:0 auto;
    }

  }
  
}

.hidden {
    display:none;
}

textarea.span-9{
    height: 40px;
}

.check_span{
    display: none;
}

footer {
  text-align: center;
}