@import 'normalize';

#content {
  width: 960px;
  border:2px solid #069;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.commentBox {
  h1 {
    text-align: center;
  }
}
  
.commentList {

}

.pagination {
  .pagination-item {
    height: 22px;
    padding: 0 8px;
    background-color: #fff;
    line-height: 22px;
    margin: 0 1px 0 2px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    vertical-align: middle;
    background: gray;
    margin-right: 5px;
    text-decoration: none;
  }
  
  .pagination-item.currentPage {
    background-color: red;
  }
}

.statistics {
  background: #4A7DAC;
}

.comment {
  background: #F3F3F3;
  border: 1px solid #757575;
  padding: 4px;
  margin-bottom: 5px;
  
  .reply {
    margin-left: 20px;
    padding: 8px 19px;
    margin-top: 10px;
    line-height: 20px;
    border: 1px solid #dedede;
    
    p {
      margin: 0;
    }
  }
}

.commentAuthor {
  font-weight: bold;
  color: #C30;
  font-size: 14px;
  float: left;
}

.commentDate {
  color: #C30;
  font-size: 14px;
  float: right;
}

.commentText {
  clear: both;
}