@import './base.css';

body {
  background: url(https://img.alicdn.com/imgextra/i3/O1CN01L7tGiJ1Xr3fX1u9fl_!!6000000002976-2-tps-5760-3240.png);
  background-size: cover;
}

a {
  cursor: pointer;
}

.flexbox {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-align-item-center {
  align-items: center;
}

#app {
}

@media (hover: hover) {
  a:hover {
  }
}

@media (min-width: 1024px) {
  body {
  }

  #app {
  }
}
